html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins-Regular';
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/font-awesome/webfonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('/font-awesome/webfonts/Poppins-Bold.ttf') format('truetype');
}