@model Sched.Models.Domain.Department

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Create a Department</h1>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DepartmentId" class="control-label"></label>
                            <input asp-for="DepartmentId" class="form-control" value="@ViewBag.NextDepartmentId" />
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="text-center">
                            <div class="form-group">
                           
                                <button type="submit" value="Create" class="btn btn-outline-success "> <i class="fa-solid fa-file-circle-plus"></i> Create </button>
                                <button asp-action="Index" class="btn btn-warning" formnovalidate> <i class="fa-solid fa-list">   </i> Back to List</button>
                               
                            </div>
                        </div>
                     
                    </form>
                </div>
            </div>
  
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
