@model Sched.Models.Domain.Department

@{
    ViewData["Title"] = "Edit";
}



<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <h1 class="text-center"> Edit Department </h1>
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DepartmentId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="text-center">
                            <div class="form-group">
                                <button type="submit" value="Save" class="btn btn-outline-primary"><i class="fa-solid fa-save"></i>  Save</button>
                                <button asp-action="Index" class="btn btn-warning "> <i class="fa-solid fa-list"></i> Back to List</button>

                            </div>
                        </div>
                
                    </form>
                </div>
            </div>

         
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
